{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": [
          {{#if_eq platform "mobile"}}
          "iOS >= 8",
          "Android >= 4"
          {{else}}
          "> 1%",
          "last 2 versions",
          "not ie <= 8"
          {{/if_eq}}
        ]
      }
    }],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    [
      "component",
      [
        {
          "libraryName": "element-ui",
          "styleLibraryName": "theme-chalk"
        }
      ]
    ]
  ],
  "env": {
    "test": {
      "presets": ["env", "stage-2"]{{#if_eq runner "karma"}},
      "plugins": ["istanbul"]
      {{/if_eq}}
    }
  }
}
