{{#ionicons}}
@import './_ionicons';
{{/ionicons}}
{{#if_eq platform "mobile"}}
@import './_mixin';
{{/if_eq}}

// http://element-cn.eleme.io/#/zh-CN/component/custom-theme#zai-xiang-mu-zhong-gai-bian-scss-bian-liang
/* 改变主题色变量 */
$--color-primary: teal;
/* 改变 icon 字体路径变量，必需 */
$--font-path: '../../node_modules/element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/xuetangx.scss';

html {
  -webkit-font-smoothing: antialiased;
  {{#if_eq platform "mobile"}}
  @include font-dpr(16px);
  -webkit-overflow-scrolling: touch;
  {{/if_eq}}
}
